body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: currentColor;
    letter-spacing: 0.03em;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    color: #2E2F42;
    letter-spacing: 0.02em;
}

h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    color: #2E2F42;
    letter-spacing: 0.03em;
}

.header {}

.nav {}

.logo-decoration {
    color: #4D5AE5;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.3;
    text-transform: uppercase;
    color: #2E2F42;
}

.nav-menu {}

.nav-menu-item {}

.nav-menu-link {
    color: #2E2F42;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
    line-height: 1.5;

}

.nav-menu-link:hover,
.nav-menu-link:focus {
    color: #404BBF;
}

.address {
    font-style: normal;
}

.nav-contacts {}

.nav-contacts-item {}

.nav-contacts-link {
    letter-spacing: 0.02em
}

.nav-contacts-link:hover,
.nav-contacts-link:focus {
    color: #404BBF;
    letter-spacing: 0.02em;
}

.hero {
    background-color: #2E2F42;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
}

.hero-button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    font-weight: 400;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}

.our-features {}

.feature-title {}

.feature-list {}

.feature-list-item {}

.feature-list-title {
    letter-spacing: 0.02em;
    line-height: 1.2;
}

.feature-list-text {}

.our-team {
    background-color: #F4F4FD;
    letter-spacing: 0.02em;
    line-height: 1.5;
}

.team-title {}

.team-list {}

.team-list-item {
    background-color: #FFFFFF;
}

.team-list-img {}

.team-list-title {
    font-weight: 500;
    font-size: 20px;
    color: #2E2F42;
    text-align: center;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.team-list-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.portfolio {}

.portfolio-title {}

.portfolio-list {}

.portfolio-list-item {}

.portfolio-list-img {}

.portfolio-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.portfolio-list-text {
    font-weight: 400;
    font-size: 16px;

    line-height: 1.5;
    letter-spacing: 0.02em;

}

.footer {
    background-color: #2E2F42;
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.3;
    text-transform: uppercase;
    color: #F4F4FD;
}

.footer-logo-decoration {
    color: #4D5AE5;
}

.footer-text {
    color: #F4F4FD;
}